<div class="w3-container w3-padding">
    <div class="row">
        <label>Tipo</label>
        <input id="tipo" name="tipo" #cep [(ngModel)]="usuario.tipo" type="text" class="form-control" disabled>
    </div>
    <div class="row">
        <label>Telefone</label>
        <input id="telefone" name="telefone" #telefone [(ngModel)]="usuario.telefone" maxlength="20" type="text" class="form-control" required>
    </div>
    <div class="row">
        <label>Cep</label>
        <input id="cep" name="cep" #cep (keyup)="onchangeCep(cep.value)" [(ngModel)]="usuario.endereco.cep" maxlength="8" type="text" class="form-control" required>
    </div>
    <div class="row">
        <label>Logradouro</label>
        <input id="logradouro" name="logradouro" [(ngModel)]="usuario.endereco.logradouro" maxlength="60" type="text" class="form-control" required>
    </div>
    <div class="row">
        <label>Localização</label>
        <input id="localizacao" name="localizacao" [(ngModel)]="usuario.endereco.localizacao" maxlength="100" type="text" class="form-control" disabled>
    </div>
</div>    

<button [ngClass]="classesBtnConcluir()" type="submit" (click)="atualizarPerfil()" >Concluir</button>