<h3><p>Tela de perfil blablablablablablablabla</p></h3>

<div class="container">

    <div class="row">   
        <p>Tipo de usuario .... {{usuario?.tipo}} </p>
    </div>

    <hr>

    <div class="row">   
        <input value="{{endereco?.telefone}}" #telefone (blur)="onblurTelefone(telefone.value)" type="text" style="float: left" maxlength="20" placeholder="TELEFONE BLABLABLA"/>
    </div>

    <hr>

    <div class="row">   
        <input value="{{endereco?.cep}}" #cep (keyup)="onchangeCep(cep.value)" type="text" style="float: left" maxlength="8" placeholder="CEP BLABLABLA"/>
    </div>   

    <hr>
    
    <div class="row">   
        <input value="{{endereco?.complemento}}" #complemento (keyup)="onchangeComplemento(complemento.value)" type="text" style="float: left" maxlength="20" placeholder="COMPLEMENTO BLABLABLA"/>
    </div>   

    <hr>
    
    <div class="row">   
        Endereço encontrado: {{logradouro}}  
    </div>   

    <hr>

    <div class="row">   
        <p>{{enderecoJson}}</p> 
    </div>   

    <hr>

    <button type="button"(click)="atualizarPerfil()">Concluir alterações</button>

</div>