<div class="w3-card-2 w3-round w3-white">
  <div class="w3-container">
    <h4 class="w3-center">Perfil</h4>
    <p class="w3-center"><img src="{{foto}}" class="w3-circle" style="height:106px;width:106px" alt="foto perfil"></p>
    <hr>
    <p class="w3-center"><strong>{{nome}}</strong></p>
    <!--
    <p class="w3-center">{{usuario?.telefone}}</p>
    -->
    <p class="w3-center w3-opacity hidden-sm hidden-xs">
      <i>{{email}}</i>
    </p>

    <!-- Mobile -->
    <p class="w3-center w3-opacity hidden-md hidden-lg">
      <i class="fa fa-envelope" title="{{email}}"></i>
    </p>
  </div>
</div>