<div class="bs-callout bs-callout-warning">{{title}}</div>

<div class="w3-container w3-padding">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label>Filtro de pesquisa: </label>
      </div>
      <div id="filtroPesquisa" class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          <input type="text" class="form-control" [(ngModel)]="filtro">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 btn-cadastrar" *ngIf="usuarioLogado?.tipo === 'CRECHE'"> 
        <button routerLink="/home/crianca-wizard" type="button" class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12">cadastrar
        </button>
       </div> 
  </div>

<hr>

  <div [hidden]="criancas === null || criancas === undefined || criancas?.length == 0"> 
    <table class="table table-striped">
      <tr>
        <th>Nomes</th>
      </tr>
      <tr *ngFor='let c of listar()'>
        <td>
          <span>
            <strong>
              	<a routerLink="/home/crianca-wizard">
			            <span [ngClass]="classesTableLine(c.sexo)" title="Editar">{{c.nome}}</span>
		            </a>  
            </strong>
          </span><br>
          <span>Responsável: {{c?.contato?.responsavel}}</span><br> 
          <span>Fone: {{c?.contato?.fonePrincipal}}</span><br>
        </td>
      </tr>
    </table>
  </div>
</div>