/*.table-line-text{padding-top: 30px;text-transform: uppercase;}*/
.table-line-text{text-transform: uppercase;}
.panel-passos{color: #000;float: right;margin-bottom: 2px}
.title-passos{text-transform:uppercase}
.btn-customizado{padding-left: 0px!important;text-align: center!important;border-radius:0px!important}
.alergia-descricao{color:dimgrey}
.medicamento-descricao{color:dimgrey}
.aviso-required{color:dimgrey;float: right;font-style: italic}
.pnl-aviso-required{margin-top: 18px}

@media (max-width: 991px) {
    .btn-cadastrar{
        margin-top: 3%;
    }
    .btnProximoPasso1{
          margin-top: 5px;            
          margin-left: unset!important;
   }
}

@media (max-width: 767px) {
        .btnProximo{
            margin-top: 3px
        }
}

@media (min-width: 768px) {
        .btnProximo{
            margin-left: 5px
        }
}

progress, .progress {
    display: inline-block;
    margin: 4px 0;
    width: 100%;
    height: 20px;
  }