<div [hidden]="hiddenPesquisa">
  <div class="bs-callout bs-callout-warning title">{{title}}</div>
  <div class="w3-container w3-padding">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label>Filtro de pesquisa: </label>
        </div>
        <div id="filtroPesquisa" class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <input type="text" class="form-control" [(ngModel)]="filtro" maxlength="60">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 btn-cadastrar" *ngIf="usuarioLogado?.tipo === 'CRECHE'"> 
          <button type="button" (click)="exibirTelaCadastro()" class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-customizado">
            <i class="fa fa-plus-circle" aria-hidden="true" style="margin-left: 10px;"></i>  
            cadastrar
          </button>
        </div> 
    </div>
  <hr>
</div>

  <div [hidden]="criancas === null || criancas === undefined || criancas?.length == 0"> 
    <table class="table table-striped">
      <tr class="kids-header-table"><th style="text-align:center !important;">DETALHES</th></tr>
      <tr *ngFor='let c of listar()'>
        <td>
          <span>
            <strong>
              	<a>
			        <span [ngClass]="classesTableLine(c.sexo)" (click)="editar(c)" title="Editar">{{c.pessoa.nome}}</span>
		        </a>  
            </strong>
          </span><br>
          <span class="quebrar-texto">Responsável: {{c?.contato?.responsavel}}</span><br> 
          <span class="quebrar-texto">Fone: {{c?.contato?.fonePrincipal}}</span><br>
        </td>
      </tr>
    </table>
  </div>
</div>












<!--CADASTRO - NOVO E EDIT-->
<div [hidden]="hiddenCadastro">
  <div class="bs-callout bs-callout-warning title">
    {{title}}
  </div>

  <div class="w3-container w3-padding">
      <div id="passo1" [hidden]="hiddenPasso1">
          <div class="panel-passos">

            <i class="fa fa-address-card-o w3-opacity hidden-xs" aria-hidden="true"></i>            
            <span class="title-passos w3-opacity hidden-xs"><label>1º Dados Gerais</label></span>
            <p class="w3-center w3-opacity hidden-sm hidden-md hidden-lg">
                <i class="fa fa-address-card-o" title="1º Dados Gerais"></i>
            </p>

          </div>
          <br>
          <form #f="ngForm">    
          <!-- MENSAGENS DE ERRO -->
          <div [hidden]="!f.valid || messagesError === null" class="alert alert-danger" role="alert">
                  <ul *ngFor="let message of messagesError">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      {{message}}
                  </ul>
              </div>

              <!-- MENSAGEM DE SUCESSO -->
              <div [hidden]="!f.valid || messageSuccess === null" class="alert alert-success" role="alert">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                  {{messageSuccess}}
              </div>

              <!--FOTO-->
              <!--
              <div class="form-group"> 
                  <label class="control-label">Selecionar foto</label>
                  <input type="file" name="foto" class="btn btn-success"/>
                  <input type="button" name="foto" class="btn btn-primary" (click)="uploadFoto()" value="Carregar..."/>
              </div>
              -->

              <!--MATRICULA-->
              <div class="form-group" [class.has-error]="!matricula.valid && matricula.touched" 
                                      [class.has-success]="matricula.valid && matricula.touched"
                                      [class.has-feedback]="matricula.touched">
                  <label for="matricula" class="control-label">Matrícula*</label>
                  <input id="matricula" name="matricula" #matricula="ngModel" aria-describedby="matricula" [(ngModel)]="crianca.matricula" maxlength="10" type="text" class="form-control" required>
                  <span *ngIf="!matricula.valid && matricula.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="!matricula.valid && matricula.touched" id="matricula" class="sr-only">(error)</span>
                  <span *ngIf="matricula.valid && matricula.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="matricula.valid && matricula.touched" id="matricula" class="sr-only">(success)</span>
                  <div *ngIf="!matricula.valid && matricula.touched" class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      Matrícula é obrigatório.
                  </div>
              </div>
              
              <!--NOME-->
              <div class="form-group" [class.has-error]="!nomePessoa.valid && nomePessoa.touched" 
                                [class.has-success]="nomePessoa.valid && nomePessoa.touched"
                                [class.has-feedback]="nomePessoa.touched">
                    <label for="nomePessoa" class="control-label">Nome*</label>
                    <input id="nomePessoa" name="nomePessoa" #nomePessoa="ngModel" aria-describedby="nomePessoa" [(ngModel)]="crianca.pessoa.nome" maxlength="60" type="text" class="form-control" required>
                    <span *ngIf="!nomePessoa.valid && nomePessoa.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span *ngIf="!nomePessoa.valid && nomePessoa.touched" id="nomePessoa" class="sr-only">(error)</span>
                    <span *ngIf="nomePessoa.valid && nomePessoa.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span *ngIf="nomePessoa.valid && nomePessoa.touched" id="nomePessoa" class="sr-only">(success)</span>
                    <div *ngIf="!nomePessoa.valid && nomePessoa.touched" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Nome é obrigatório.
                   </div>
              </div>
              
              <!--DATA NASCIMENTO-->
              <div class="form-group" [class.has-error]="!dtNascimento.valid && dtNascimento.touched" 
                                      [class.has-success]="dtNascimento.valid && dtNascimento.touched"
                                      [class.has-feedback]="dtNascimento.touched">
                  <label for="dtNascimento" class="control-label">Data de Nascimento*</label>
                  <input id="dtNascimento" name="dtNascimento" #dtNascimento="ngModel" aria-describedby="dtNascimento" [(ngModel)]="crianca.dtNascimento" useValueAsDate type="date" class="form-control" required>
                  <span *ngIf="!dtNascimento.valid && dtNascimento.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="!dtNascimento.valid && dtNascimento.touched" id="dtNascimento" class="sr-only">(error)</span>
                  <span *ngIf="dtNascimento.valid && dtNascimento.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="dtNascimento.valid && dtNascimento.touched" id="dtNascimento" class="sr-only">(success)</span>
                  <div *ngIf="!dtNascimento.valid && dtNascimento.touched" class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      Data de Nascimento é obrigatório.
                  </div>
              </div>

            <!--SEXO-->
            <div class="form-group" [class.has-error]="!sexo.valid && sexo.touched" 
                                    [class.has-success]="sexo.valid && sexo.touched"
                                    [class.has-feedback]="sexo.touched">						  
                <label for="sexo" class="control-label">Sexo*</label>
                <br>
                <select [(ngModel)]="crianca.sexo" class="form-control" name="sexo" #sexo="ngModel" aria-describedby="sexo" required>
                    <option *ngFor="let sexo of sexos" [value]="sexo" name="sexo">{{sexo}}</option>
                </select>
                <span *ngIf="!sexo.valid && sexo.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span *ngIf="!sexo.valid && sexo.touched" id="sexo" class="sr-only">(error)</span>
                <span *ngIf="sexo.valid && sexo.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span *ngIf="sexo.valid && sexo.touched" id="sexo" class="sr-only">(success)</span>
                <div *ngIf="!sexo.valid && sexo.touched" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Sexo é obrigatório.
                </div>
            </div>

            <!--BOTAO VOLTAR-->
            <button type="button" (click)="exibirTelaPesquisa()" class="btn btn-warning btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3">
                <span class="fa fa-reply-all" aria-hidden="true"></span>
                {{titleBtnVoltar}}
            </button>
            <!--BOTAO PROXIMO-->
            <button [disabled]="!f.valid" (click)="proximoPasso(2)" type="button" class="btn btn-primary btn-customizado col-xs-12 col-sm-8 col-md-4 col-lg-4 btnProximo btnProximoPasso1">
                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                {{titleButtonProximo}} 
            </button>
              <div class="pnl-aviso-required col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <span class="aviso-required">(*) preenchimento obrigatório</span>
              </div>
          </form>
      </div>    

      <!--ENDEREÇO-->
      <div id="passo2" [hidden]="hiddenPasso2">
          <div class="panel-passos">

            <i class="fa fa-map-marker w3-opacity hidden-xs" aria-hidden="true"></i>            
            <span class="title-passos w3-opacity hidden-xs"><label>2º Endereço</label></span>
            <p class="w3-center w3-opacity hidden-sm hidden-md hidden-lg">
                <i class="fa fa-map-marker" title="2º Endereço"></i>
            </p>

        </div>
          <br>
          <form #f2="ngForm">    
          <!-- MENSAGENS DE ERRO -->
          <div [hidden]="!f.valid || messagesError === null" class="alert alert-danger" role="alert">
                  <ul *ngFor="let message of messagesError">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      {{message}}
                  </ul>
              </div>

              <!-- MENSAGEM DE SUCESSO -->
              <div [hidden]="!f2.valid || messageSuccess === null" class="alert alert-success" role="alert">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                  {{messageSuccess}}
              </div>

              <!--CEP-->
              <div class="form-group" [class.has-error]="!cep.valid && cep.touched" 
                                      [class.has-success]="cep.valid && cep.touched"
                                      [class.has-feedback]="cep.touched">
                  <label for="cep" class="control-label">Cep*</label>
                  <input id="cep" name="cep" #cep="ngModel" (keyup)="onchangeCep(cep.value)" (focus)="onfocusCep()" [(ngModel)]="crianca.pessoa.endereco.cep" maxlength="8" type="text" class="form-control" required>
                  <span *ngIf="!cep.valid && cep.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="!cep.valid && cep.touched" id="cep" class="sr-only">(error)</span>
                  <span *ngIf="cep.valid && cep.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="cep.valid && cep.touched" id="cep" class="sr-only">(success)</span>
                  <div *ngIf="!cep.valid && cep.touched" class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      Cep é obrigatório.
                  </div>
              </div>

              <!--LOGRADOURO-->
              <div class="form-group" [class.has-error]="!logradouro.valid && logradouro.touched" 
                                      [class.has-success]="logradouro.valid && logradouro.touched"
                                      [class.has-feedback]="logradouro.touched">
                  <label for="logradouro" class="control-label">Logradouro*</label>
                  <input id="logradouro" name="logradouro" #logradouro="ngModel" (focus)="onfocusLogradouro()" [(ngModel)]="crianca.pessoa.endereco.logradouro" maxlength="60" type="text" class="form-control" required>
                  <span *ngIf="!logradouro.valid && logradouro.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="!logradouro.valid && logradouro.touched" id="logradouro" class="sr-only">(error)</span>
                  <span *ngIf="logradouro.valid && logradouro.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="logradouro.valid && logradouro.touched" id="logradouro" class="sr-only">(success)</span>
                  <div *ngIf="!logradouro.valid && logradouro.touched" class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      Logradouro é obrigatório.
                  </div>
              </div>

                <!--LOCALIZACAO-->
                <div class="form-group" [class.has-error]="!localizacao.valid && localizacao.touched" 
                                    [class.has-success]="localizacao.valid && localizacao.touched"
                                    [class.has-feedback]="localizacao.touched">
                    <label for="localizacao" class="control-label">Localização*</label>
                    <input id="localizacao" name="localizacao" #localizacao="ngModel" (focus)="onfocusCep()" [(ngModel)]="crianca.pessoa.endereco.localizacao" maxlength="100" type="text" class="form-control" required placeholder="exemplo: bairro, cidade, estado">
                    <span *ngIf="!localizacao.valid && localizacao.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span *ngIf="!localizacao.valid && localizacao.touched" id="localizacao" class="sr-only">(error)</span>
                    <span *ngIf="localizacao.valid && localizacao.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span *ngIf="localizacao.valid && localizacao.touched" id="localizacao" class="sr-only">(success)</span>
                    <div *ngIf="!localizacao.valid && localizacao.touched" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Localização é obrigatório.
                    </div>
                </div>
              
              <!--BOTAO ANTERIOR-->
              <button type="button" (click)="proximoPasso(1)" class="btn btn-primary btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3">
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                {{titleButtonAnterior}}
              </button>
              <!--BOTAO PROXIMO-->
              <button [disabled]="!f2.valid" type="button" (click)="proximoPasso(3)" class="btn btn-primary btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3 btnProximo">
                  <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                  {{titleButtonProximo}}
              </button>
              <div class="pnl-aviso-required col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <span class="aviso-required">(*) preenchimento obrigatório</span>
              </div>
          </form>
      </div>    

      <!--CONTATO-->
      <div id="passo3" [hidden]="hiddenPasso3">
          <div class="panel-passos">

            <i class="fa fa-address-book-o w3-opacity hidden-xs" aria-hidden="true"></i>            
            <span class="title-passos w3-opacity hidden-xs"><label>3º Contato</label></span>
            <p class="w3-center w3-opacity hidden-sm hidden-md hidden-lg">
                <i class="fa fa-address-book-o" title="3º Contato"></i>
            </p>

          </div>
          <br>
          <form #f3="ngForm">    
          <!-- MENSAGENS DE ERRO -->
          <div [hidden]="!f3.valid || messagesError === null" class="alert alert-danger" role="alert">
                  <ul *ngFor="let message of messagesError">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      {{message}}
                  </ul>
              </div>

              <!-- MENSAGEM DE SUCESSO -->
              <div [hidden]="!f3.valid || messageSuccess === null" class="alert alert-success" role="alert">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                  {{messageSuccess}}
              </div>

              <!--RESPONSÁVEL-->
              <div class="form-group" [class.has-error]="!responsavel.valid && responsavel.touched" 
                              [class.has-success]="responsavel.valid && responsavel.touched"
                              [class.has-feedback]="responsavel.touched">
                  <label for="responsavel" class="control-label">Responsável Legal*</label>
                  <input id="responsavel" name="responsavel" #responsavel="ngModel" [(ngModel)]="crianca.contato.responsavel" maxlength="60" type="text" class="form-control" required>
                  <span *ngIf="!responsavel.valid && responsavel.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="!responsavel.valid && responsavel.touched" id="responsavel" class="sr-only">(error)</span>
                  <span *ngIf="responsavel.valid && responsavel.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="responsavel.valid && responsavel.touched" id="responsavel" class="sr-only">(success)</span>
                  <div *ngIf="!responsavel.valid && responsavel.touched" class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      Responsável Legal é obrigatório.
                  </div>
              </div>

              <!--EMAIL-->
              <div class="form-group" [class.has-error]="!email.valid && email.touched" 
                                      [class.has-success]="email.valid && email.touched"
                                      [class.has-feedback]="email.touched">
                  <label for="email" class="control-label">E-mail*</label>
                  <input id="email" name="email" #email="ngModel" aria-describedby="email" [(ngModel)]="crianca.contato.email" maxlength="255" type="text" class="form-control" required>
                  <span *ngIf="!email.valid && email.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="!email.valid && email.touched" id="email" class="sr-only">(error)</span>
                  <span *ngIf="email.valid && email.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="email.valid && email.touched" id="email" class="sr-only">(success)</span>
                  <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      Email é obrigatório.
                  </div>
              </div>

              <!--FONE PRINCIPAL-->
              <div class="form-group" [class.has-error]="!fonePrincipal.valid && fonePrincipal.touched" 
                                      [class.has-success]="fonePrincipal.valid && fonePrincipal.touched"
                                      [class.has-feedback]="fonePrincipal.touched">
                  <label for="fonePrincipal" class="control-label">Fone Principal*</label>
                  <input id="fonePrincipal" name="fonePrincipal" #fonePrincipal="ngModel" aria-describedby="fonePrincipal" [(ngModel)]="crianca.contato.fonePrincipal" maxlength="20" type="text" class="form-control" required>
                  <span *ngIf="!fonePrincipal.valid && fonePrincipal.touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="!fonePrincipal.valid && fonePrincipal.touched" id="fonePrincipal" class="sr-only">(error)</span>
                  <span *ngIf="fonePrincipal.valid && fonePrincipal.touched" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span *ngIf="fonePrincipal.valid && fonePrincipal.touched" id="fonePrincipal" class="sr-only">(success)</span>
                  <div *ngIf="!fonePrincipal.valid && fonePrincipal.touched" class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      Fone Principal é obrigatório.
                  </div>
              </div>
              
              <!--FONE OUTRO-->
              <div class="form-group" [class.has-error]="!foneOutro.valid && foneOutro.touched" 
                                      [class.has-success]="foneOutro.valid && foneOutro.touched"
                                      [class.has-feedback]="foneOutro.touched">
                  <label for="foneOutro" class="control-label">Fone Outros</label>
                  <input id="foneOutro" name="foneOutro" #foneOutro="ngModel" aria-describedby="foneOutro" [(ngModel)]="crianca.contato.foneOutro" maxlength="20" type="text" class="form-control">	
              </div>
              
              <!--BOTAO ANTERIOR-->
              <button type="button" (click)="proximoPasso(2)" class="btn btn-primary btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3">
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                {{titleButtonAnterior}}
              </button>
              <!--BOTAO PROXIMO-->
              <button [disabled]="!f3.valid" type="button" (click)="proximoPasso(4)" class="btn btn-primary btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3 btnProximo">
                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                {{titleButtonProximo}}
              </button>
              <div class="pnl-aviso-required col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <span class="aviso-required">(*) preenchimento obrigatório</span>
              </div>
          </form>
      </div>    

      <!--MEDICAMENTO-->
      <div id="passo4" [hidden]="hiddenPasso4">
          <div class="panel-passos">

            <i class="fa fa-medkit w3-opacity hidden-xs" aria-hidden="true"></i>            
            <span class="title-passos w3-opacity hidden-xs"><label>4º Medicamentos</label></span>
            <p class="w3-center w3-opacity hidden-sm hidden-md hidden-lg">
                <i class="fa fa-medkit" title="4º Medicamentos"></i>
            </p>

          </div>
          <br>
          <form #f4="ngForm">    
          <!-- MENSAGENS DE ERRO -->
          <div [hidden]="!f4.valid || messagesError === null" class="alert alert-danger" role="alert">
                  <ul *ngFor="let message of messagesError">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      {{message}}
                  </ul>
              </div>

              <!-- MENSAGEM DE SUCESSO -->
              <div [hidden]="!f4.valid || messageSuccess === null" class="alert alert-success" role="alert">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                  {{messageSuccess}}
              </div>

              <!--NOME DO MEDICAMENTO-->
              <div class="form-group">
                <label for="nome" class="control-label">Medicamento</label>
                <input id="nome" name="nome" #nome="ngModel" (focus)="clearMessages();" [(ngModel)]="medicamento.nome" maxlength="40" type="text" class="form-control" placeholder="Digite o nome do medicamento...">
              </div>
              
              <!--NOME DO DOSAGEM-->
              <div class="form-group">
                <label for="dosagem" class="control-label">Dosagem</label>
                <input id="dosagem" name="dosagem" #dosagem="ngModel" (focus)="clearMessages();" [(ngModel)]="medicamento.dosagem" maxlength="25" type="text" class="form-control" placeholder="exemplo: 1 comprimido de 250 mg">
              </div>
               
              <!--INTERVALO HORAS-->
              <div class="form-group">
                <label for="intervaloHoras" class="control-label">Intervalo de horas</label>
                <input id="intervaloHoras" name="intervaloHoras" #intervaloHoras="ngModel" (focus)="clearMessages();" [(ngModel)]="medicamento.intervaloHoras" maxlength="10" type="text" class="form-control" placeholder="exemplo: a cada 6h">
              </div>
              
              <!--DATA FINAL-->
              <div class="form-group">
                <label for="dtFinal" class="control-label">Data Final</label>
                <input id="dtFinal" name="dtFinal" #dtFinal="ngModel" [(ngModel)]="medicamento.dtFinal" useValueAsDate (focus)="clearMessages();" type="date" class="form-control">
              </div>
              <button type="button" (click)="adicionarMedicamento()" class="btn btn-success btn-customizado" class="btn btn-success btn-customizado col-xs-12 col-sm-6 col-md-3 col-lg-3" style="margin-top: 5px">
                <span class="fa fa-plus-square" style="margin-left: 10px;" aria-hidden="true"></span>
                {{titleButtonAddMedicamento}}
              </button>
              
              <br>
              <br>
              <hr>
              <br>

              <div [hidden]="crianca?.medicamentos === null || crianca?.medicamentos === undefined || crianca.medicamentos?.length == 0"> 
                <table class="table table-striped">
                <tr class="kids-header-table"><th style="text-align:center !important;">DETALHES</th></tr>
                <tr *ngFor='let m of crianca.medicamentos; let i = index'>
                    <td style="border: 1px solid darkgray;border: 1px solid darkgray;">
                        <span class="medicamento-descricao"><li style="word-break: break-all;">{{m?.nome}}</li></span><br>
                        <span class="medicamento-descricao"><li style="word-break: break-all;">{{m?.dosagem}}</li></span><br>
                        <span class="medicamento-descricao"><li style="word-break: break-all;">{{m?.intervaloHoras}}</li></span><br>
                        <span class="medicamento-descricao"><li style="word-break: break-all;">até o dia {{m?.dtFinal | date: 'dd/MM/yyyy'}}</li></span><br>
                        <button type="button" (click)="removerMedicamento(i)" class="btn btn-danger btn-customizado col-xs-12 col-sm-4 col-md-3 col-lg-3" style="margin-top: 1px">
                        <i class="fa fa-trash-o" aria-hidden="true" style="margin-left: 10px;"></i>
                            {{titleButtonDeleteMedicamento}}
                        </button>
                    </td>
                </tr>
                </table>
            </div>

              <!--BOTAO ANTERIOR-->
              <button type="button" (click)="proximoPasso(3)" class="btn btn-primary btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3">
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                {{titleButtonAnterior}}
              </button>
              <!--BOTAO PROXIMO-->
              <button [disabled]="!f4.valid" type="button" (click)="proximoPasso(5)" class="btn btn-primary btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3 btnProximo">
                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
                {{titleButtonProximo}}
              </button>
          </form>
      </div>    

      <!--ALERGIA-->
      <div id="passo5" [hidden]="hiddenPasso5">
          <div class="panel-passos">

            <i class="fa fa-bug w3-opacity hidden-xs" aria-hidden="true"></i>            
            <span class="title-passos w3-opacity hidden-xs"><label>5º Alergia</label></span>
            <p class="w3-center w3-opacity hidden-sm hidden-md hidden-lg">
                <i class="fa fa-bug" title="5º Alergia"></i>
            </p>

          </div>
          <br>
          <form #f5="ngForm">    
          <!-- MENSAGENS DE ERRO -->
          <div [hidden]="!f5.valid || messagesError === null" class="alert alert-danger" role="alert">
                  <ul *ngFor="let message of messagesError">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      {{message}}
                  </ul>
              </div>

              <!-- MENSAGEM DE SUCESSO -->
              <div [hidden]="!f5.valid || messageSuccess === null" class="alert alert-success" role="alert">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                  {{messageSuccess}}
              </div>

              <!-- DESCRICAO-->
              <div class="form-group">
                <label for="descricao" class="control-label">Descrição</label>
                <input id="descricao" name="descricao" #descricao="ngModel" (focus)="clearMessages();" [(ngModel)]="alergia.descricao" maxlength="50" type="text" class="form-control">
              </div>
              
              <button type="button" (click)="adicionarAlergia()" class="btn btn-success btn-customizado col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-top: 5px">
                <span class="fa fa-plus-square" aria-hidden="true" style="margin-left: 10px;"></span>
                {{titleButtonAddAlergia}}
              </button>
              
              <br>
              <br>
              <hr>
              <br>

              <div [hidden]="crianca?.alergias === null || crianca?.alergias === undefined || crianca.alergias?.length == 0"> 
                <table class="table table-striped">
                <tr class="kids-header-table"><th style="text-align:center !important;">DETALHES</th></tr>
                <tr *ngFor='let a of crianca.alergias; let i = index'>
                    <td style="border: 1px solid darkgray;">
                        <span class="alergia-descricao"><li style="word-break: break-all;">{{a?.descricao}}</li></span><br>
                        <button type="button" (click)="removerAlergia(i)" class="btn btn-danger btn-customizado col-xs-12 col-sm-4 col-md-3 col-lg-3" style="margin-top: 1px">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                            {{titleButtonDeleteAlergia}}
                        </button>
                    </td>
                </tr>
                </table>
            </div>

              <!--BOTAO ANTERIOR-->
              <button type="button" (click)="proximoPasso(4)" class="btn btn-primary btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3">
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
                {{titleButtonAnterior}}
              </button>
              <!--BOTAO SALVAR-->
              <button [disabled]="!f5.valid" type="button" (click)="salvar()" class="btn btn-success btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3 btnProximo">
                <span class="fa fa-floppy-o" aria-hidden="true"></span>  
              {{titleButtonSalvar}}
              </button>
          </form>
      </div>    
</div>

</div>