/*.table-line-text{padding-top: 30px;text-transform: uppercase;}*/
.table-line-text{text-transform: uppercase;}
.text-feminino{color:deeppink}
.text-masculino{color: blue}
.panel-passos{color: #000;float: right;margin-bottom: 2px}
.title-passos{text-transform:uppercase}
.btn-customizado{padding-left: 0px!important;text-align: center!important;border-radius:0px!important}

@media (max-width: 991px) {
    .btn-cadastrar{
        margin-top: 3%;
    }
}

@media (max-width: 767px) {
        .btnProximo{
            margin-top: 3px
        }
}

@media (min-width: 768px) {
        .btnProximo{
            margin-left: 5px
        }
}