<div class="w3-top">
	<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
		<a class="w3-button w3-padding-large w3-hover-white w3-right" (click)="logout()" title="sair"><i class="glyphicon glyphicon-log-out"></i></a>
	</div>
</div>

<div  class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <div id="standard-content">
        <div class="container public_flash_message_container">
            <div class="alert flash fade in alert-warning">
               <strong>Você precisa selecionar o tipo de conta que deseja se cadastrar.</strong>
            </div>
        </div>
        <h2 style="color:#F00">{{messageError}}</h2>
        <div class="w3-container w3-padding">
            <a [ngClass]="classesBtnCreche()" (click)="onClickTipoCreche()">sou creche</a> 
            <a [ngClass]="classesBtnFamiliar()" (click)="onClickTipoFamiliar()">sou familiar</a> 
        </div>    
    </div>
</div>