.btn-menu{margin-bottom: 3px;display:-webkit-box;}
.btn-menu-centralizar{text-align: -webkit-center;}

.bs-callout-perfil:hover{border-left-color: #ce4844;color:#FFF;background-color:#3CB371 !important;color: #FFF}
.bs-callout-crianca:hover{border-left-color: #aa6708;color: #FFF;background-color:#3CB371 !important;}
.bs-callout-familia:hover{border-left-color: #088A08;color: #FFF;background-color:#3CB371 !important;}
.bs-callout-diario:hover{border-left-color: #3366FF;color: #FFF;background-color:#3CB371 !important;}
.bs-callout-sair:hover{color: #3CB371;background-color:#3CB371 !important;}
.prefil-title{font-size: 16px;margin-top: 3px}
.w3-white {padding: 10px;}

@media (max-width: 600px) {
    .w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
        padding: 0 !important;
    }
}