<div class="w3-top">
	<div class="w3-bar w3-theme-d2 w3-left-align w3-large hidden-xs" style="font-size: 25px!important;">
		&nbsp;
	</div>
	<div class="w3-bar w3-theme-d2 w3-left-align w3-large hidden-sm hidden-md hidden-lg" style="font-size: 25px!important;">
		<p class="w3-left"><img src="{{foto}}" class="w3-circle" style="height:40px;width:40px;margin-top: 8px" alt="foto perfil">
			<span class="prefil-title"><strong>{{nome}}</strong></span>
		</p>
	</div>
</div>

<!--CONTEUDO-->
<div  class="w3-container w3-content" style="max-width:1400px;margin-top:50px">    
	<div class="w3-row">
		<!--COLUNA DA ESQUERDA-->
		<div [hidden]="usuario === null || usuario === undefined || usuario.id === null" class="w3-col col-xs-12 col-sm-5 col-md-4 col-lg-3">
			<app-perfil-usuario></app-perfil-usuario>
			<br>
			<div>
				<a  (click)="setShowMenu()" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu btn-menu-centralizar">
					<i class="fa fa-bars" title="MENU"></i>
					Menu
				</a>    
			</div>		
			<div [hidden]="hiddenMenuCompleto">
				<a routerLink="perfil" [hidden]="usuario === null || usuario === undefined" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="perfil" class="fa fa-user" title="Perfil"></i>
					Perfil
				</a>    
				<a routerLink="crianca" *ngIf="usuario != null && usuario != undefined && usuario.ativo" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="crianca" class="fa fa-child" title="Crianças"></i>
					Crianças
				</a>    
				<a routerLink="familia" *ngIf="exibirMenuFamiliares()" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="familia" class="fa fa-users" title="Acesso de familiares"></i>
					Familiares
				</a>    
				<a routerLink="diario" *ngIf="usuario != null && usuario != undefined && usuario.ativo" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="diario" class="fa fa-book" title="Diário"></i>
					Diário
				</a>    
				<a routerLink="evento" *ngIf="usuario != null && usuario != undefined && usuario.ativo" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="evento" class="fa fa-flag" title="Eventos"></i>
					Eventos
				</a>    
				<a routerLink="aviso" *ngIf="exibirMenuAvisos()" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="aviso" class="fa fa-bell" title="Avisos"></i>
					Avisos
				</a>    
				<a routerLink="comunicacao" *ngIf="usuario != null && usuario != undefined && usuario.ativo" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="comunicacao" class="fa fa-commenting" title="Contato"></i>
					Contato
				</a>    
				<a routerLink="avaliacao" *ngIf="usuario != null && usuario != undefined && usuario.ativo" class="w3-button w3-padding-large w3-hover-white bs-callout bs-callout-original bs-callout-diario col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-menu">
					<i routerLink="avaliacao" class="fa fa-graduation-cap" title="Avaliação"></i>
					Avaliações
				</a>    
				<a class="w3-button w3-padding-large w3-hover-white w3-right bs-callout bs-callout-original bs-callout-sair col-xs-12 col-sm-12 col-md-12 col-lg-12" (click)="logout()" title="sair">
					<i class="glyphicon glyphicon-log-out"></i>	 sair
				</a>
			</div>
		</div>
		<!--COLUNA DO MEIO-->
		<div class="w3-col col-xs-12 col-sm-7 col-md-8 col-lg-9">
			<div class="w3-row">
				<div class="w3-col m12">
					<div class="w3-card-2 w3-round w3-white servico-indisponivel">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>  
</div> 	