@media (min-width: 768px) {
        .btnTipoDiario{
            margin-top: 2px;
            margin-left: 3%;
            margin-right: 5%;
        }
}

@media (max-width: 767px) {
        .btnTipoDiario{
            margin-top: 2px;
        }
}
    
@media (max-width: 991px) {
    .divRadio{
        text-align:center !important;
    }
}    

.nomeCrianca{
    margin-top: 28px;    
}

.diario-nao-selecionado{
    border-width: 6px;
    border-style: dashed;
    border-color: #4d636f;
    height: 50px;
    margin-top: 15px;
}

.diario-nao-selecionado-title{
    font-size: 16px;   
    text-align: center;
    margin-top: 10px;
}

.table-line-text{text-transform: uppercase;}