@media (min-width: 768px) {
        .btnTipoDiario{
            max-width: 148px;
            margin-left: 1px;
            margin-top: 2px;
        }
}

@media (max-width: 767px) {
        .btnTipoDiario{
            margin-top: 2px;
        }
}
    
@media (max-width: 991px) {
    .divRadio{
        text-align:center !important;
    }
}    

.nomeCrianca{
    margin-top: 28px;    
}
