    .date-cardapio{
        margin-top: 75px;
        text-align:center !important;
        color: red !important;        
    }

    @media (max-width: 991px) {
        .btn-adicionar{
            margin-top: 3%;
        }                
    }

    /*A PARTIR DE */
    @media (min-width: 991px) {        
        .btn-visualizar{
            margin-left: 3px;
        }
    }

    