
    .date-cardapio{
        margin-top: 75px;
        text-align:center !important;
        color: red !important;        
    }

    @media (max-width: 991px) {
        .btn-adicionar{
            margin-top: 3%;
        }        
    }