<div>
  <div class="bs-callout bs-callout-laranja title" style="margin-bottom: 5px">{{title}}</div>
</div>

<div *ngIf="usuarioLogado?.tipo == 'CRECHE'">     
    <div class="w3-container w3-padding">
        <div>
            <br>
            <form #f="ngForm">    
            <!-- MENSAGENS DE ERRO -->
            <div [hidden]="!f.valid || messagesError === null" class="alert alert-danger" role="alert">
                    <ul *ngFor="let message of messagesError">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{message}}
                    </ul>
                </div>

                <!-- MENSAGEM DE SUCESSO -->
                <div [hidden]="!f.valid || messageSuccess === null" class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    {{messageSuccess}}
                </div>

                <!--DESCRICAO-->
                <div class="form-group">
                  <label for="descricao" class="control-label">Descrição*</label>
                  <textarea id="descricao" class="form-control" rows="5" name="descricao" #descricao="ngModel" aria-describedby="descricao" [(ngModel)]="aviso.descricao" maxlength="255" (focus)="clearMessages()"></textarea>
                </div>

                <!--TIPO-->
                <div class="form-group">
                  <label for="tipo" class="control-label">Tipo*</label>
                  <select [(ngModel)]="aviso.tipo" class="form-control" name="tipo" #tipo="ngModel" aria-describedby="tipo">
                      <option *ngFor="let t of tipos" [value]="t" name="t">{{t}}</option>
                  </select>
                </div>
                
                <!--DT EXPIRACAO--> 
                <div class="form-group">
                  <label for="tipo" class="control-label">Data de expiração*</label>
                  <input id="dtExpiracao" name="dtExpiracao" #dtExpiracao="ngModel" aria-describedby="dtExpiracao" [(ngModel)]="aviso.dtExpiracao" useValueAsDate type="date" class="form-control">
                </div>

                <!--BOTAO SALVAR-->
              <button [disabled]="!f.valid" type="button" (click)="salvar()" class="btn btn-success btn-customizado col-xs-12 col-sm-5 col-md-3 col-lg-3">
                <span class="fa fa-check" aria-hidden="true"></span>                
                  Salvar
              </button>

                <div class="pnl-aviso-required col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="aviso-required">(*) preenchimento obrigatório</span>
                </div>
            </form>
        </div>  
  </div>

  <div *ngIf="usuarioLogado?.tipo == 'CRECHE'" class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" 
         role="progressbar"
         aria-valuemin="0" 
         aria-valuemax="100" 
         [ngStyle]="widthBarraProgresso">
         {{widthBarraProgressoTexto}}
    </div>
</div>

<div [hidden]="avisos?.length > 0" class="dados-nao-encontrados col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="dados-nao-encontrados-title">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>    
    Não há dados cadastrados no momento</p>
</div>

  <div [hidden]="usuarioLogado?.tipo == 'FAMILIAR'">     
  <table class="table table-striped" style="margin-top: 5px">
    <tr class="kids-header-table"><th style="text-align:center !important;" [hidden]="avisos == null || avisos == undefined  || avisos?.length == 0">AVISOS</th></tr>
    <tr *ngFor='let a of avisos; let i = index' class="row table-line-style">  
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 22px;">
          <span>{{a?.descricao}}</span><br>
          <button type="button" (click)="removerAviso(i, a)" class="btn btn-danger btn-customizado col-xs-12 col-sm-4 col-md-3 col-lg-3" style="margin-top: 1px;margin-bottom:8px">
            <i class="fa fa-trash-o" aria-hidden="true" style="margin-left: 10px;"></i>
             remover
         </button>
        </div>           
    </tr>
  </table>
</div>         