@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap-social/bootstrap-social.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.quebrar-texto{word-break: break-all;}

.alerta-filtro-pesquisa{
  height: 40px;
  color: #000;
  background-color: #f0ad4e;
}

.alerta-filtro-pesquisa-message{
  padding-top: 13px;
  margin-left: 2px;
  font-family: sans-serif, inherit, Arial, Helvetica, sans-serif;
}

/* Common styles for all types */
.bs-callout {
  padding: 10px 10px;
  border-left: 1px solid #eee;
  border-left-width: 5px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}


/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}