@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap-social/bootstrap-social.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.quebrar-texto{word-break: break-all;}
.text-feminino{color:deeppink}
.text-masculino{color: blue}
.title{text-transform: uppercase;font-weight: bold}
.btn-customizado{padding-left: 0px!important;text-align: center!important;border-radius:0px!important}
.kids-header-table{text-align:center !important;background-color: #828282!important;border: 1px solid #828282 !important;}

.alerta-filtro-pesquisa{
  height: 40px;
  color: #000;
  background-color: #f0ad4e;
}

.alerta-filtro-pesquisa-message{
  padding-top: 13px;
  margin-left: 2px;
  font-family: sans-serif, inherit, Arial, Helvetica, sans-serif;
}

/* Common styles for all types */
.bs-callout {
  padding: 10px 10px;
  border-left: 1px solid #eee;
  border-left-width: 5px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
/* Common styles for all types */

.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}

.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}


.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}


.bs-callout-verde {
  border-left-color: #088A08;
}
.bs-callout-verde h4 {
  color: #088A08;
}

.bs-callout-azul {
  border-left-color: #3366FF;
}
.bs-callout-azul h4 {
  color: #3366FF;
}

.bs-callout-rosa {
  border-left-color:#FF69B4;
}
.bs-callout-rosa h4 {
  color: #FF69B4;
}

.bs-callout-original {
  border-left-color: #4d636f ;
}
.bs-callout-original h4 {
  color: #4d636f ;
}

