<div class="w3-top">
	<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
		<a routerLink="perfil" [hidden]="usuario === null || usuario === undefined" class="w3-button w3-padding-large w3-hover-white">
			<i routerLink="perfil" [hidden]="usuario === null || usuario === undefined" class="fa fa-user" title="Perfil"></i>
		</a>    
		<a class="w3-button w3-padding-large w3-hover-white w3-right" (click)="logout()" title="sair"><i class="glyphicon glyphicon-log-out"></i></a>
	</div>
</div>

<div  class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
	<div class="w3-row">
		<div [hidden]="usuario === null || usuario === undefined" class="w3-col m3">
			<app-perfil-usuario></app-perfil-usuario>
			<br>
		</div>
		<div class="w3-col m7">
			<div class="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card-2 w3-round w3-white">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>  
</div> 	