<app-menu></app-menu>

<div  class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <div class="w3-row">
    <div class="w3-col m3">
    <app-perfil-usuario></app-perfil-usuario>
  <br>
  </div>



<div class="w3-col m7">
	<div class="w3-row-padding">
		<div class="w3-col m12">
			<div class="w3-card-2 w3-round w3-white" style="min-height: 270px">
					<div class="w3-card-2 w3-round w3-white" style="min-height: 270px">          
						<div [hidden]="usuario?.id !== null" class="w3-container w3-padding">
							<app-usuario-nao-cadastrado></app-usuario-nao-cadastrado>
						</div>
						<div [hidden]="usuario?.ativo" class="w3-container w3-padding">
							<app-template-usuario-inativo>{{nome}}</app-template-usuario-inativo>
						</div>    
            <div [hidden]="!usuario?.ativo" class="w3-container w3-padding">
							Seja bem-vindo {{usuario?.nome}} 
						</div>    
					</div>
			</div>
		</div>
	</div>
	<br>
</div>



  </div>  
  
</div> 